.bg {
  background-color: slategray;
  width: 145px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  border-radius: 5px;
}

.bg .desc_wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bg .desc_wrapper .name {
  font-weight: 700;
  font-size: 1.2rem;
}

.bg .desc_wrapper .desc {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.bg .desc_wrapper .desc span {
  display: flex;
  align-items: center;
}
