.bg {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
}

.bg .no_img {
  width: 300px;
  height: 300px;
  background-color: royalblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg .desc_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bg .desc_wrapper .name {
  font-size: 2rem;
  font-weight: 700;
}

.bg .desc_wrapper .desc {
  font-size: 1.1rem;
  line-height: 1.5;
}
